#kanban-board {min-height: 400px;}
#next-swimlane {}
#in-progress-swimlane {}
#acceptance-swimlane {}
#done-swimlane {}

.swimlane {background: #eee; border: #444 solid 2px; width: 25%; float: left; min-height: 400px; margin: 0 -2px;}
.swimlane h3 { margin: 0 10px; }
.swimlane div { margin: 10px; }

p.issue-dates { margin: 0; font-size: smaller;}
.issue-end-date {color: red; float: right; }
