#kanban-board {min-height: 400px;}
#next-swimlane {}
#in-progress-swimlane {}
#acceptance-swimlane {}
#done-swimlane {}

.swimlane {background: #eee; border: #444 solid 2px; width: 25%; float: left; min-height: 400px; margin: 0 -2px;}
.swimlane h3 { margin: 0 10px; }
.swimlane div { margin: 10px; }

.issue.blocked { background: url(../images/blocked.png)}
#kanban-board .issue .expedite img { float: right; }

p.issue-dates { margin: 0; font-size: smaller;}
.issue-end-date {color: red; float: right; }

#next-issue {margin: 20px 0; }
#next-issue .description {max-height: 200px; overflow-y: scroll;}

#filter {margin: 20px 0; }
